# Python Basic Exercise for Beginners

### Exercise 1: Calculate the multiplication and sum of two numbers
    
    
Given two integer numbers return their product only if the product is greater than 1000, else return their sum.

Given 1:

number1 = 20
number2 = 30


Expected Output:

The result is 600


Given 2:

number1 = 40
number2 = 30

Expected Output:

The result is 70

HINT---->>>   Create a function that will take two numbers as parameters.
Next, Inside a function, multiply two numbers and save their product in a product variable.
Next, use the if condition to check if the product >1000. If yes, return the product.
Otherwise, use the else block to calculate the sum of two numbers and return it.

In [ ]:
def Exercise_1(x,y): # Don't Change this line
    
    #Do your code Here

### Exercise 2: Print the sum of the current number and the previous number

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

Expected Output:

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

HINT --->> Create a variable called previous_num and assign it to 0.
Iterate the first 10 numbers one by one using for loop and range() function.
Next, display the current number (i), previous number, and the addition of both numbers in each iteration of the loop. At last, change the value previous number to current number ( previous_num = i).

In [ ]:
def Exercise_2(x): # Don't Change this line
    
    #Do your code Here

### Exercise 3: Print characters from a string that are present at an even index number

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

Expected Output:

Orginal String is  pynative
Printing only even index chars
p
n
t
v

HINT --->> Use Python input() function to accept a string from a user.
Calculate the length of string using the len() function
Next, iterate each character of a string using for loop and range() function.
Use start = 0, stop = len(s)-1, and step =2. the step is 2 because we want only even index numbers
in each iteration of a loop, use s[i] to print character present at current even index number

In [ ]:
def Exercise_3(x): # Don't Change this line
    
    #Do your code Here

### Exercise 4: Remove first n characters from a string

Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here we need to remove first two characters from a string.

Note: n must be less than the length of the string

HINT -->> Use string slicing to get the substring. For example, to remove the first four characters and the remeaning use s[4:].

In [ ]:
def Exercise_4(x): # Don't Change this line
    
    #Do your code Here

### Exercise 5: Check if the first and last number of a list is the same

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

Given:

numbers_x = [10, 20, 30, 40, 10]
,numbers_y = [75, 65, 35, 75, 30]

Expected Output:

Given list: [10, 20, 30, 40, 10]
result is True

numbers_y = [75, 65, 35, 75, 30]
result is False

In [ ]:
def Exercise_5(a,b): # Don't Change this line
    
    #Do your code Here

### Exercise 6: Display numbers divisible by 5 from a list

Iterate the given list of numbers and print only those numbers which are divisible by 5

Expected Output:

Given list is  [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [ ]:
def Exercise_6(a): # Don't Change this line
    
    #Do your code Here

### Exercise 7: Return the count of a given substring from a string

Write a program to find how many times substring “Emma” appears in the given string.

Given:
    
    str_x = "Emma is good developer. Emma is a writer"

Expected Output:

               Emma appeared 2 times

HInt-->> Use string method count().

In [ ]:
def Exercise_7(a): # Don't Change this line
    
    #Do your code Here

### Exercise 8: Print the following pattern:

1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5




Hint: Print Pattern using for loop

In [ ]:
def Exercise_8(a): # Don't Change this line
    
    #Do your code Here

### Exercise 9: Check Palindrome Number

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

Expected Output:

original number 121
Yes. given number is palindrome number

original number 125
No. given number is not palindrome number

HINT--->> Reverse the given number and save it in a different variable
Use the if condition to check if the original number and reverse number are the same. If yes, return True.

In [ ]:
def Exercise_9(a): # Don't Change this line
    
    #Do your code Here

### Exercise 10: Create a new list from a two list using the following condition

Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

Given:

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
Expected Output:

result list: [25, 35, 40, 60, 90]

HINT:
Create an empty list named result_list.Iterate first list using a for loop.
In each iteration, check if the current number is odd number using num % 2 != 0 formula. If the current number is an odd number, add it to the result listNow, Iterate the first list using a loop.In each iteration, check if the current number is odd number using num % 2 == 0 formula. If the current number is an even number, add it to the result list
print the result list.

In [ ]:
def Exercise_10(a,z): # Don't Change this line
    
    #Do your code Here

### Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [ ]:
def Exercise_11(z): # Don't Change this line
    
    #Do your code Here

### Exercise 12: Calculate income tax for the given income by adhering to the below rules

Taxable Income	Rate (in %)

First $10,000	0
Next $10,000	10
The remaining	20

#### Expected Output:

For example, suppose the taxable income is 45000 the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [ ]:
def Exercise_12(z): # Don't Change this line
    
    #Do your code Here

### Exercise 13: Print multiplication table form 1 to 10

#### Expected Output:

1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

HINT:
    Create the outer for loop to iterate numbers from 1 to 10. So total number of iteration of the outer loop is 10.
Create a inner loop to iterate 10 times.
For each iteration of the outer loop, the inner loop will execute ten times.
In the first iteration of the nested loop, the number is 1. In the next, it 2. and so on till 10.
In each iteration of an inner loop, we calculated the multiplication of two numbers. (current outer number and curent inner number)

In [ ]:
def Exercise_13(z): # Don't Change this line
    
    #Do your code Here

### Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

* * * * *  
* * * *  
* * *  
* *  
*

Hint: Print Pattern using for loop

In [ ]:
def Exercise_14(z): # Don't Change this line
    
    #Do your code Here

### Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

Expected output

Case 1:

base = 2
exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)
Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
def Exercise_15(z): # Don't Change this line
    
    #Do your code Here